.item-show-top{
  display: flex;
  /* justify-content: space-between; */
}

.item-left-col{
  padding: 100px 20px;
  width: 35%;
}

.item-img{
  width: 100%;
}

.item-center-col {
  padding: 20px;
  width: 50%;
  font-family: 'ember-rg';
}

.item-title {
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}

.item-center-col > h4 {
  color: #555;
  font-size: 14px;
}

.item-price{
  color: rgb(177, 39, 4);
  font-family: 'ember-rg';
  font-size: 18px;
}

.item-right-col{
  font-family: 'ember-rg';
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  position: relative;
  padding: 20px;
  width: 15%;
  margin: 20px;
}

.item-right-col > h3 {
  color: #007600;
  font-size: 18px;
}

.add-to-cart-button{
  display: flex;
  background-image: linear-gradient(#f5ebd1, #f0c14b);
  border: 1px solid #846a29;
  border-radius: 4px; 
  margin-top: 150px;
}

.add-to-cart-button:hover{
  background-image: linear-gradient(#f5ebd1, #f5b410);
  cursor: pointer;
}

.item-cart-image{
  background-color: #232f3e;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
  width: 20px;
  height: 20px;
}

.atc-div{
  display: flex;
  justify-content: center;
  width: 100%;
}

.add-to-cart, .add-to-wl, .edit-item{
  font-size: 14px;
  border: none;
  background-color: inherit;
  font-family: 'ember-rg';
  cursor: pointer;
  margin-right: 16px;
}

.add-to-wl-button{
  display: flex;
  background-image: linear-gradient(#f7cd9c, #f0854b);
  border: 1px solid #846a29;
  border-radius: 4px; 
  margin-top: 20px;
}

.add-to-wl-button:hover{
  background-image: linear-gradient(#f7cd9c, #f46c22);
  cursor: pointer;
}

.item-wl-plus, .item-edit{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  background-color: #232f3e;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
  width: 24px;
  height: 20px;
}

.item-edit{
  font-size: 12px;
  align-items: center;
}

.edit-item-button{
  display: flex;
  background-image: linear-gradient(#f7b79c, #ee5937);
  border: 1px solid #846a29;
  border-radius: 4px; 
  margin-top: 20px;
  align-items: center;
}

.edit-item-button:hover{
  background-image: linear-gradient(#f7a581, #ed411b);
  cursor: pointer;
  text-decoration: none;
}

.edit-item-button > a:hover{
  text-decoration: none;
}

.item-comment-section {
  margin-top: 26px;
  border-top: 1px solid #e7e7e7
}

.reviewInput {
  width: 75%;
  height: 28px;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  padding: 5px 7px;
  font-size: 14px;
}

.commentSubmitForm textarea {
  width: 100%;
  height: 100px;
}

.submitSeparator {
  height: 60px;
  border-top: 1px solid #ddd;
  background: linear-gradient(to bottom, #f3f3f3, #fff);
  padding: 14px;
  margin-top: 20px;
  text-align: right;
}

.commentSubmitForm {
  display: flex;
  flex-direction: column;
}

.commentSubmitForm button input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 14px;
}

.commentSubmitForm button {
  width: 70px;
  cursor: pointer;
}

.item-comment-section ul {
  padding-left: 0px;
}

.item-comment-section h4 {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.review {
  color: #111;
  word-wrap: break-word;
  text-align: left;
  margin-bottom: 22px;
}

.ratingAndTitle {
  display: flex;
}

.reviewTitle {
  font-weight: 700;
}

.reviewComment {
  padding-top: 15px;
}