.item-show-top{
  display: flex;
  /* justify-content: space-between; */
}

.item-left-col{
  padding: 100px 20px;
  width: 35%;
}

.item-img{
  width: 100%;
}

.item-center-col {
  padding: 20px;
  width: 50%;
  font-family: 'ember-rg';
}

.item-title {
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e7e7e7;
}

.item-center-col > h4 {
  color: #555;
  font-size: 14px;
}

.item-price{
  color: rgb(177, 39, 4);
  font-family: 'ember-rg';
  font-size: 18px;
}

.item-right-col{
  font-family: 'ember-rg';
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  position: relative;
  padding: 20px;
  width: 15%;
  margin: 20px;
}

.item-right-col > h3 {
  color: #007600;
  font-size: 18px;
}

.add-to-cart-button{
  display: flex;
  background-image: linear-gradient(#f5ebd1, #f0c14b);
  border: 1px solid #846a29;
  border-radius: 4px; 
  margin-top: 150px;
}

.add-to-cart-button:hover{
  background-image: linear-gradient(#f5ebd1, #f5b410);
  cursor: pointer;
}

.item-cart-image{
  background-color: #232f3e;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
  width: 20px;
  height: 20px;
}

.atc-div{
  display: flex;
  justify-content: center;
  width: 100%;
}

.add-to-cart, .add-to-wl, .edit-item{
  font-size: 14px;
  border: none;
  background-color: inherit;
  font-family: 'ember-rg';
  cursor: pointer;
  margin-right: 16px;
}

.add-to-wl-button{
  display: flex;
  background-image: linear-gradient(#f7cd9c, #f0854b);
  border: 1px solid #846a29;
  border-radius: 4px; 
  margin-top: 20px;
}

.add-to-wl-button:hover{
  background-image: linear-gradient(#f7cd9c, #f46c22);
  cursor: pointer;
}

.item-wl-plus, .item-edit{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 16px;
  background-color: #232f3e;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  margin: 4px;
  width: 24px;
  height: 20px;
}

.item-edit{
  font-size: 12px;
  align-items: center;
}

.edit-item-button{
  display: flex;
  background-image: linear-gradient(#f7b79c, #ee5937);
  border: 1px solid #846a29;
  border-radius: 4px; 
  margin-top: 20px;
}

.edit-item-button:hover{
  background-image: linear-gradient(#f7a581, #ed411b);
  cursor: pointer;
}