.mainBodyHeader {
    background-color: #232f3e;
    /* width: 100%; */
    max-height: 114px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.headerBottom {
    display: flex;
}

.headerAddress button {
    display: flex;
    padding: 10px !important;
    position: relative;
    bottom: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.headerAddress:hover {
    border: 1px solid rgba(169, 169, 169, 0.253);
    border-radius: 2px;
    position: relative;
    bottom: 1px;
}

.headerAddress button img {
    height: 30px;
}

.headerAddress button div div {
    margin-left: 5px;
    font-size: 16px;
    text-align: left;
    color: white;
}

.headerAddress button div div:last-child {
    font-size: 18px;
    font-weight: 900;
}

.navbarButtons {
    display: flex;
    max-height: 40px;
}

.navbarButtons div {
    margin-left: 20px;
    color: #ccc;
    font-family: Arial;
    cursor: pointer;
    padding: 10px;
}

.navbarButtons div:hover {
    border: 1px solid rgba(169, 169, 169, 0.253);
    border-radius: 2px;
    position: relative;
    bottom: 3px;
}

.headerBottomRight {
    display: flex;
    position: relative;
    right: 30px;
}

.headerBottomRight div {
    padding: 10px;
}

.headerBottomRight div:hover {
    border: 1px solid rgba(169, 169, 169, 0.253);
    border-radius: 2px;
    position: relative;
    bottom: 3px;
}

.header {
    cursor: pointer;
    padding-left: 10px;
    position: relative;
    margin-bottom: 10px;
    right: 10px;
}

.headerTriangle {
    position: absolute;
    top: 25px;
    left: 150px;
    border-top: 5px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
}

.accountDropdown {
    width: 500px;
    height: 80px;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    top: 50px;
    right: -71px;
    text-align: center;
    cursor: default;
}

.accountDropdown a {
    text-decoration: none;
    color: #05a;
}

.dropdownTriangle {
    position: absolute;
    top: -10px;
    left: 465px;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
}

.accountDropdown button {
    width: 199px;
    height: 33px;
    cursor: pointer;
    font-size: 16px;
}

.header span {
    float: left;
    clear: both;
}

.headerAccountOne {
    color: #ccc;
    font-size: 12px;
    font-family: Arial;
    text-decoration: none;
}

.headerAccountTwo {
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    font-family: Arial;
    text-decoration: none;
}

.headerCartContainer {
    margin: 0px;
    padding: 5px !important;
    display: flex;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

.headerItemsInCart {
    color: #f08804;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    right: 30px;
    bottom: 5px;
}

.headerCartContainer span:last-child {
    color: white;
    font-size: 18px;
    font-weight: 800;
    font-family: Arial;
    position: relative;
    top: 18px;
}

.headerCartImage {
    height: 40px;
}

.header div:hover {
    border: 1px solid rgba(169, 169, 169, 0.253);
    border-radius: 2px;
    position: relative;
    bottom: 3px;
}

.headerCartContainer:hover {
    position: relative;
    bottom: 13px !important;
}

.headerTop {
    display: flex;
}

.headerTop .headerBars {
    height: 35px;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 3px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.headerTop .headerBars:hover {
    border: 1px solid white;
}

.headerTop .headerLogo {
    margin: 18px 50px 0px 15px;
    height: 35px;
    cursor: pointer;
}

.headerTop .searchBar {
    width: 100%;
    height: 38px;
}

.headerTop span {
    color: #fff;
    margin-right: 20px;
    font-size: 24px;
    padding: 10px;
    font-weight: 800;
    font-family: Arial;
}

.searchBar {
    height: 35px;
    margin-top: 12px;
    margin-right: 25px;
    display: flex;
}

.searchBar button {
    display: flex;
    padding: 0px 10px 0px 13px;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    background-color: #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-right: 0.5px solid lightgray;
    font-size: 16px;
    color: #666;
}

.searchBar button:hover {
    opacity: .9;
}

.searchBar button div {
    margin-left: 4px;
    position: relative;
    top: 6px;
    border-top: 5px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
}

.searchBar input {
    cursor: text;
    width: 100%;
    padding: 6px 10px 6px 0px;
}

.searchBar img {
    padding: 5px 10px 5px 5px;
    height: 28px;
    background-color: #febd69;
    border-color: transparent;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.searchBar img:hover {
    opacity: .9;
}

.headerBottom {
    display: flex;
    justify-content: space-between;
}