.mainBodyHeader {
    background-color: #232f3e;
    /* width: 100%; */
    /* max-height: 114px; */
    padding-left: 15px;
    /* padding-right: 15px; */
    /* padding-bottom: 10px; */
    z-index: 4;
}

.headerBottom {
    display: flex;
    align-items: center;
}

.headerAddress {
    display: flex;
    align-items: center;
}

.headerAddress button {
    display: flex;
    padding: 10px !important;
    /* position: relative; */
    /* bottom: 10px; */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.headerAddress:hover {
    border: 1px solid rgba(169, 169, 169, 0.253);
    border-radius: 2px;
    position: relative;
    bottom: 1px;
}

.headerAddress button img {
    height: 30px;
}

.headerAddress button div div {
    margin-left: 5px;
    font-size: 16px;
    text-align: left;
    color: white;
}

.headerAddress button div div:last-child {
    font-size: 18px;
    font-weight: 900;
}

.navbarButtons {
    display: flex;
    max-height: 40px;
}

.navbarButtons div {
    margin-left: 20px;
    color: #ccc;
    font-family: 'ember-rg';
    cursor: pointer;
    padding: 10px;
}

.navbarButtons a {
    color: #ccc;
    text-decoration: none;
}

.navbarButtons div:hover {
    border: 1px solid rgba(169, 169, 169, 0.253);
    border-radius: 2px;
    position: relative;
    bottom: 3px;
}

.headerBottomRight {
    display: flex;
    margin-right: 20px;
    position: relative;
    /* top: 9px;
    right: 30px; */
}

.headerBottomRight div {
    padding: 10px;
}

.headerBottomRight div:first-child{
    padding-right: 20px;
}

.headerBottomRight div:hover {
    border: 1px solid rgba(169, 169, 169, 0.253);
    border-radius: 2px;
    /* position: relative; */
    bottom: 3px;
}

.smoke-screen{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8); 
    z-index: 3;
}


.header {
    cursor: pointer;
    /* padding-left: 10px; */
    /* position: fixed; */
    /* margin-right: 10px; */
    /* right: 10px; */
}

.headerTriangle {
    position: absolute;
    top: 34px;
    left: 132px;
    border-top: 5px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
}

.accountDropdown {
    display: none;
    justify-content: center;
    width: 500px;
    height: 80px;
    background-color: white;
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    top: 59px;
    right: 119px;
    text-align: center;
    cursor: default;
    z-index: 3000;
}

.accountDropdown > a {
    display: flex;
    align-items: center;
}

.accountDropdown a {
    text-decoration: none;
    color: #05a;
}

.dropdownTriangle {
    position: absolute;
    top: -10px;
    left: 465px;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 0;
    height: 0;
}

.accountDropdown button {
    width: 199px;
    height: 33px;
    cursor: pointer;
    font-size: 16px;
}

.header span {
    float: left;
    clear: both;
}

.headerAccountOne {
    color: #ccc;
    font-size: 12px;
    font-family: 'ember-rg';
    text-decoration: none;
}

.headerAccountTwo {
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    font-family: 'ember-rg';
    text-decoration: none;
}

.headerCartContainer {
    margin: 0px;
    /* padding: 5px !important; */
    display: flex;
    position: relative;
    bottom: -1px;
    cursor: pointer;
}

.headerItemsInCart {
    color: #f08804;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    right: 27px;
    bottom: 5px;
}


.headerCartContainer span:last-child {
    color: white;
    font-size: 18px;
    font-weight: 800;
    font-family: 'ember-rg';
    position: relative;
    top: 13px;
    left: -14px;
}

.headerCartImage {
    height: 34px;
}

.header div:hover {
    border: 1px solid rgba(169, 169, 169, 0.253);
    border-radius: 2px;
    position: relative;
    bottom: 3px;
}

.headerCartContainer:hover {
    position: relative;
    bottom: 2px !important;
}

.headerTop {
    display: flex;
    align-items: center;
}

.headerTop .headerBars {
    height: 35px;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #666;
    border-radius: 3px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.headerTop .headerBars:hover {
    border: 1px solid white;
}

.headerTop .headerLogo {
    margin: 10px 50px 0px 15px;
    height: 35px;
    cursor: pointer;
}

.headerTop .searchBar {
    width: 100%;
    height: 38px;
}

.headerTop span {
    color: #fff;
    margin-top: 10px;
    /* margin-right: 20px; */
    font-size: 20px;
    font-weight: 800;
    font-family: 'ember-rg'
}

.search-box form{
    height: 100%;
}

.search-box input {
    height: 100%;
    box-sizing: border-box;
    padding: 0 11.250px;
}

.searchBar {
    height: 35px;
    margin-top: 12px;
    margin-right: 25px;
    display: flex;
    width: 100%;
}

.search-box{
    width: 100%;
}

.searchBar button {
    display: flex;
    padding: 0px 10px 0px 13px;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    background-color: #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    border-right: 0.5px solid lightgray;
    font-size: 16px;
    color: #666;
}

.searchBar button:hover {
    opacity: .9;
}

.searchBar button div {
    margin-left: 4px;
    position: relative;
    top: 6px;
    border-top: 5px solid #666;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    width: 0;
    height: 0;
}

.searchBar input {
    cursor: text;
    width: 100%;
    font-family: 'ember-rg'
}

.search-suggestions{
    display: none;
    flex-direction: column;
    position: relative;
    top: -1px;
    bottom: 0;
    width: 99.9%;
    background-color: white;
}

.search-suggestion{
    padding: 8px 11.250px;
    font-family: 'ember-rg';
    font-size: 16px;
    cursor: pointer;
}

.searchBar img {
    padding: 5px 10px 5px 10px;
    height: 28px;
    background-color: #febd69;
    border-color: transparent;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.searchBar img:hover {
    opacity: .9;
}

.headerBottom {
    display: flex;
    justify-content: space-between;
}