.user-listings{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.user-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.user-profile  h1{
  margin: 30px 20px 20px 20px;
  font-family: 'ember-bd';
  font-size: 24px;
  color: #232f3e;
}

.ul-ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.user-profile-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border-top: 1px solid #e7e7e7;
}

.user-profile-cart > a:hover, .user-profile-cart h1:hover{
  cursor: pointer;
  text-decoration: none;
  color: #0953ae;
}