.item-lists {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.item-lists ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 87%;
}

.item-list-filter{
    margin-top: 16px;
    min-width: 197px;
    width: 13%;
    font-family: "ember-rg"
}

.item-lists li:last-child{
    border-right: solid 1px;
    border-color: #DDD;
}

.index-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    border: solid 0.5px;
    border-color: #DDD;
    min-width: 300px;
    min-height: 530px;
}



.index-item-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.index-item-wrapper > div:first-child{
    height: 80%;
    width: 100%;
    padding: 20px 0px 20px 0px;
}

.index-item-wrapper > div:nth-child(2){
    height: 20%;
}

.index-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.index-item-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
}

.index-item-details > div:last-child{
    color: #cc1c39;
    font-weight: bold;
    padding-bottom: 7px;
}

.index-item-details a{
    text-decoration: none;
    font-size: 14x;
    line-height: 19px;
    color:#0066c0;
}

.index-item-details a:hover{
    text-decoration: underline;
}

.index-item-details a:visited{
    color:#0066c0;
}

.item-index-button {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    width: 100%;
    margin-bottom: 20px;
}

.item-index-button:hover {
    background: linear-gradient(to bottom,#f7dfa5,#e6b94a);
}

.container{
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: #dfe0e6 1px solid;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, this is the background */
.container input:checked ~ .checkmark {
  background-color: #f0c14b;
  border: #f0c14b 1px solid;
}

/* Show the checkmark when checked */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2.7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(26deg);
}

.item-list-filter-wrapper{
    padding: 8px 10px 10px 33px;
}

.item-list-filter-wrapper h2 {
  margin: 0;
  margin-bottom: 10px;
}

.index-item-ratings{
    display: flex;
    width: 100%;
    padding: 10px 0 10px 0;
}


.index-item-ratings img{
    width: 15px;
    height: 15px;
}

.index-item-ratings a {
    display: flex;
}

.index-item-ratings a:hover{
    text-decoration: none;
    color: orange;
}

.index-item-ratings div:last-child{
    padding-left: 10px;
}